<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
      <probing privatePath="lib;libs" xmlns="" />
    </assemblyBinding>
  </runtime>
  <appSettings>
      <add key="api_url_email" value="https://api.fullcontact.com/v2/person.!FORMAT!?email=!EMAIL!"/>
      <add key="api_key" value="d6dc3d8c6e997213"/>
  </appSettings>
</configuration>